github "Hankinsoft-Development/XLForm" "master"
github "ccgus/fmdb" "master"
github "hankinsoft/RMStore" "master"
github "hankinsoft/SCLAlertView" "develop"
github "hankinsoft/MTGDatabaseApp-Database" "master"
github "rs/SDWebImage"
github "hankinsoft/SSSnackbar" "master"
